.container-Home{
        height: 100vh;
        width: 100vw;
        position: relative;
        /* max-width: 100%;
        max-height: 100%; */
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        background: rgb(62,59,108);
        background: linear-gradient(215deg, rgba(62,59,108,1) 5%, rgba(60,110,88,1) 61%, rgba(70,115,95,1) 68%);
}

.card1 .icon1 {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgb(62,59,108);

    background-image: url('../nature.jpg');
    background-size: cover;
    /* background: linear-gradient(215deg, rgba(62,59,108,1) 5%, rgba(60,110,88,1) 61%, rgba(70,115,95,1) 68%); */

}
.card1 .icon2 {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgb(62,59,108);

    background-image: url('../foodpic.jpeg');
    background-size: cover;
    /* background: linear-gradient(215deg, rgba(62,59,108,1) 5%, rgba(60,110,88,1) 61%, rgba(70,115,95,1) 68%); */

}
.card1 .icon3 {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgb(62,59,108);

    background-image: url('../transportimage.jpg');
    background-size: cover;
    /* background: linear-gradient(215deg, rgba(62,59,108,1) 5%, rgba(60,110,88,1) 61%, rgba(70,115,95,1) 68%); */

}
.card1 .icon4 {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgb(62,59,108);

    background-image: url('../images.jpeg');
    background-size: cover;
    /* background: linear-gradient(215deg, rgba(62,59,108,1) 5%, rgba(60,110,88,1) 61%, rgba(70,115,95,1) 68%); */

}

.card1 .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

 .card1 .slide {

    width: 400px;

    height: 300px;

    transition: 0.5s;

}
 .card1 .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

 .card1:hover .slide.slide1{

    transform: translateY(0px);

}

.card1 .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

 .card1:hover .slide.slide2{

    transform: translateY(0);

}

 .card1 .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #2c73df;

}

 .card1 .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #414141;

}

 .card1 .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: white;

} 
.placing{
    text-align: center;
    justify-content: center !important;
}